html {
    background: url("../img/Shadows.jpg");
    background-size: cover;
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    word-spacing: 0.05em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

.button {
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.buttonReset {
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input {
    display: flex;
    align-items: center;
    width: 200px;
    height: 75px;
    font-size: 1.1vw;
    text-align: center
}

.result {
    background-color: violet;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}